[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=su-me x-terminal-emulator -e /usr/sbin/sshstart
Icon=sidux-ssh
Name=Start SSH Server
Comment=Start SSH Server (Remote access)
Name[de]=SSH Server starten
Comment[de]=SSH Server starten (Remote-Zugang)
Name[es]=Arrancar servidor SSH
Comment[es]=Arrancar servidor SSH (Acceso remoto)

Categories=sidux;Services
