[Desktop Entry]
Comment[de]=SSH Server starten (Remote-Zugang)
Comment[es]=Arrancar servidor SSH (Acceso remoto)
Comment=Start SSH Server (Remote access)
Exec=su-me /usr/sbin/sshstart
Icon=sshstart
Name[de]=SSH Server starten
Name[es]=Arrancar servidor SSH
Name=Start SSH Server
Type=Application
