[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=x-terminal-emulator -e /usr/sbin/sshstart
Icon=sidux-ssh
Comment=Start SSH Server (Remote access)
Comment[de]=SSH Server starten (Remote-Zugang)
Comment[ru]=Запуск сервера SSH (дистан. доступ)
Comment[es]=Arrancar servidor SSH (Acceso remoto)
Comment[pt]=Lançar servidor SSH (Acceso remoto)
Comment[pt_BR]=Lançar servidor SSH (Acceso remoto)
Name=Start SSH Server
Name[de]=SSH Server starten
Name[ru]=Запуск сервера SSH
Name[es]=Arrancar servidor SSH

Categories=sidux;Services
