Source: sshstart
Section: net
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Vcs-Svn: svn://svn.berlios.de/fullstory/sshstart-sidux/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/sshstart-sidux/trunk/

Package: sshstart
Architecture: all
Depends: openssh-server, procps
Recommends: menu
Suggests: xterm | x-terminal-emulator
Provides: sshstart-sidux
Replaces: sshstart-sidux
Description: set ssh passwords
 Generates ssh host keys and starts SSH and sets a password for the live user.
