Source: sshstart-sidux
Section: net
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5), imagemagick
Standards-Version: 3.7.2
Vcs-Svn: svn://svn.berlios.de/fullstory/sshstart-sidux/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/sshstart-sidux/trunk/

Package: sshstart-sidux
Architecture: all
Depends: openssh-server, su-me, sidux-xdg, procps
Suggests: xterm | x-terminal-emulator
Description: set ssh passwords
 Starts SSH and sets a password for the live user
